// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.typologies {
    .container-typologies {
        padding-left: 15px;
        padding-right: 15px;
        >div{
            width: 100%;
            height: 200px;
            overflow-y: auto;
            padding: 5px 10px;
            border: 1px solid #ced4da;
            padding: 5px 10px;
            border-radius: 5px;
        }   
    }
}
